---
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Projects from "./projectos/projects.astro";
---

<Layout title="">
  <div class="pt-14">
    <Container>
      <Hero />
      <Features />
      <Projects/>
    </Container>
  </div>
</Layout>
