---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/precios.astro";

const pricing = [
  {
    name: "Single application page",
    price: "$100 - $150 Usd",
    popular: false,
    features: [
      "Pagina creada con astro",
      "Elaboracion de 1 mes",
      "Dominio incluido",
      "Enlace SSL",
      "Integraciones basicas",
      "Mantencio aparte",
      "Soporte no priorizado",
    ],
    button: {
      text: "Empezemos",
      link: "/contact",
    },
  },
  {
    name: "E-commers",
    price: "$450 - $600 USD",
    popular: false,
    features: [
      "Pagina creada con Next o Vite",
      "elaboracion de 1 a 2 meses",
      "2 mantenciones gratis",
      "Dominio, enlace SSL, Hosting",
      "Soporte priorizado",
      "Intgracion de signup, carrito, me gusta, etc",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "Página web Corporativa",
    price: "$1.000 - $1.500 USD",
    features: [
    "Pagina creada con Next o Vite",
      "elaboracion de 2 a 3 meses",
      "2 mantenciones gratis",
      "Dominio, enlace SSL, Hosting",
      "Soporte priorizado",
      "Inegracion de las necesidades de la empresa",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
];
---

<Layout title="Precios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precio por servicios</Fragment>
      <Fragment slot="desc">
        Los precios pueden variar dependiendo de el tipo de web que necesiten.
      </Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
        {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
