---
import { Picture } from "@astrojs/image/components";
import logoImage from "assets/logo.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import cv from "../../public/MatiasTcv.pdf"
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 lg:order-1 hidden lg:block">
    <Picture
      src={logoImage}
      alt="Astronaut in the air"
      widths={[100, 300, 400]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 500px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Frontend Develeoper
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Me desenvuelvo como diseñador web, maketador, experiencia de usuario, manejando diversas tecnologias y lenguajes en los cuales constantemente pongo en practica.
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-lg">
      Visita mi GitHub para ver mis proyectos. 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href={cv}
        download="MatiasTcv.pdf"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Descargar CV
      </Link>
      <Link
      size="lg"
      rel="noopener"
      href="https://www.linkedin.com/in/matias-torres-developer-freelance/"
      class="flex gap-1 items-center justify-center"
      target="_blank">
      <Icon class="text-white w-5 h-5" name="bx:bxl-linkedin" />
      Mi Linkendin
    </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/matias1812"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-6 h-6" name="bx:bxl-github" />
        Mi GitHub
      </Link>
    </div>
  </div>
</main>
